.container{
    margin-top: 5px;
    margin-bottom: 200px;
    font-family: "Jost", sans-serif;
}


.ketcher-container {
    border: 1px solid #cdccd88e; /* Example border style */
    padding: 5px; /* Example padding */
    margin-bottom: 10px; /* Example margin */
    border-radius: 5px;
}

.label-wrapper {
    display: flex; /* Arrange the label containers horizontally */
  }
  
  .label-container {
    margin-right: 20px; /* Adjust the spacing between label containers */
  }
  
  .ketcher-label {
    position: relative; /* Positioning for the underline */
  }
  
  .ketcher-label::after {
    content: '';
    position: absolute; /* Position the underline relative to the label */
    bottom: -5px; /* Adjust the distance of the underline from the label */
    left: 0; /* Start the underline from the beginning of the label */
    width: 72%; /* Ensure the underline spans the entire width of the label */
    height: 2px; /* Set the thickness of the underline */
    background-color: #227fa3 /* Change the color as needed */
  }
  
.icon {
    /* Add your icon's styles here */
    margin-right: 3px; /* Example: Add some margin to the right of the icon */
  }
  
  .ketcher-label {
    /* Add your label's styles here */
    font-weight: 300; /* Example: Make the label bold */
    margin-bottom: 17px; /* Example margin */
    margin-right: 20px;
    margin-left: 30px;
  }

  /* Radio button styling */
.form-check-input {
    margin-top: 2px;
    margin-right: 2px;
  }
  
  /* Label styling */
  .form-check-label {
    margin-left:2px;
    font-size: 12px;
    font-weight: 900;
    position: relative;
    font-family: auto;
    color:#0d253f;
  }
  
  .form-check{
    margin-top: 6px;
    display: flex;
    align-items: center;

  }

  .col-md-2{
    background-color:#dfe2e8;
    border-radius: 3px;
    padding-top: 41px;
  }

  .col-md-10{
    border-radius: 3px;    
  }

  /* Custom CSS for button colors */
.btn-cancel {
    background-color: #6c757d; /* Change to desired color */
    color: white; /* Text color */
    border-color: #0a76d6; /* Border color */
  }
  
  .btn-search {
    background-color: #28a745; /* Change to desired color */
    color: rgb(205, 43, 43); /* Text color */
    border-color: #052a0e; /* Border color */
  }
  
  .search-input{
    border-radius: 10px;
    border-color: #227fa3;
  }


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
      margin-top: 5px;
      margin-bottom: 50px; /* Adjusted margin for smaller devices */
      font-family: "Jost", sans-serif;
    }
  
    .col-md-2 {
      padding-top: 20px; /* Adjusted padding for smaller devices */
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    /* No specific changes */
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    /* No specific changes */
  }
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    /* No specific changes */
  }
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    /* No specific changes */
  }
  