/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Jost", sans-serif;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}


.toolbar-item-spacer{
  margin-left: 780px;
}

/* Toolbar styles */
.mat-toolbar {
  background-color: #edeff6;
  color: rgb(12, 9, 78);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

/* Sidenav container styles */
.app-container {
  height: 100vh;
  margin-left: 10px;
}

/* Sidenav styles */
.mat-sidenav {
  width: 157px;
  margin-top: 70px;
}

/* Sidenav content styles */
.mat-sidenav-content {
  padding: 5px;
  background-color: #ffff;
}

/* List item styles */
.mat-list-item {
  padding: 1px 2px;
}

/* Expansion panel styles */
.mat-expansion-panel-header {
  background-color: #f0f0f0;
  color: #333;
  margin: 2px;
}

/* Button styles */
.mat-button {
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Jost", sans-serif;
}

/* Active button styles */
.mat-button.buttonColor {
  color: #1976d2;
}

/* Footer styles */
.footer {
  background-color: #3b4052;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-6 {
  width: 50%;
}

.social-media {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.social-media li {
  display: inline-block;
  margin-right: 10px;
}

.social-media li:last-child {
  margin:10px;
}
  
  .social-media a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
  }
  
  .social-media a:hover {
    color: #ccc;
  }
  
  .mdc-list-item {
    padding-left: 0px;
    padding-right: 16px;
}

.mat-expansion-panel-header{
  padding: 1px;
}

.mat-expansion-panel-body{
  padding: 1px;
}

.ng-tns-c30-2{
  padding: 0px;

}


.mat-icon{
  left:40%;
}