<p>This will make the button clickable and direct the user to the StructureComponent when clicked. The /structure path should match the route configured for the StructureComponent in your routing module. Make sure that you have set up the appropriate route for the StructureComponent in your AppRoutingModule or any other routing module where you define your application routes.
</p>

<button (click)="getImages()">Get Images</button>

<div class="card-container">
  <div class="card" *ngFor="let imageData of imageList">
    <img class="card-image" [src]="'data:image/png;base64,' + imageData.base64ImageData" alt="Image">
    <div class="card-content">
      <p>Zinc ID: {{ imageData.zincId }}</p>
    </div>
  </div>
</div>
