.row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    *zoom: 1;
}
.row:after, .row:before {
    content: " ";
    display: table;
}
*, :after, :before {
    box-sizing: border-box;
}
.large-12 {
    width: 100%;
}
.column, .columns {
    padding-left: 1.5%;
    padding-right: 1.5%;
    position: relative;
    width: 100%;
    float: left;
}
// body div{
//     margin: 0;
//     padding: 0;
//     border: 0;
//     font-size: 100%;
//     font-weight: 400;
//     vertical-align: baseline;
//     background: 0 0;
// }
.sketch-wrapper {
    position: relative;
}
.sketch-wrapper span {
    border: 1px solid #a9a9a9;
    display: inline-block;
    width: 100%;
}
@media only screen and (min-width: 64.0625em){
.sketch-wrapper span {
    margin-top: 1.875rem;
}
}
.sketch-wrapper span {
    border: 1px solid darkgray;
    display: inline-block;
    width: 100%;
}
@media only screen and (min-width: 64.0625em){
.sketch-wrapper span {
    margin-top: 1.875rem;
}
}
span{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0
}
.sketch-wrapper iframe {
    overflow: hidden;
}
@media only screen and (min-width: 64.0625em){
.sketch-wrapper iframe {
    min-width: 100%;
    min-height: 34.375rem;
}
}
.sketch-wrapper iframe {
    overflow: hidden;
}
iframe{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    overflow-clip-margin: content-box !important;
}
/////////////////////for buttons
.row {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    width: 100%;
    *zoom: 1;
}
.row:after, .row:before {
    content: " ";
    display: table;
}
*, :after, :before {
    box-sizing: border-box;
}
.large-12 {
    width: 100%;
}
.column, .columns {
    padding-left: 1.5%;
    padding-right: 1.5%;
    position: relative;
    width: 100%;
    float: left;
}
.structure-btn {
    overflow: hidden;
    display: inline-block;
}
@media only screen and (min-width: 64.0625em){
.structure-btn {
    padding: 1.5rem 1.25rem 0 0;
}
}
.structure-btn {
    overflow: hidden;
    display: inline-block;
}
.structure-btn input {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #005daa;
    color: #005daa;
    font-weight: bold;
    line-height: normal;
}
.structure-btn input:hover{
    background-color: #005daa;
    border: solid 1px #ffffff;
    color: white;
}

.structure-btn {
    overflow: hidden;
    display: inline-block;
}
@media only screen and (min-width: 64.0625em){
.structure-btn {
    padding: 1.5rem 1.25rem 0 0;
}
}
.structure-btn input {
    border-radius: 3px;
    background-color: #fff;
    border: solid 1px #005daa;
    color: #005daa;
    font-weight: 700;
    line-height: normal;
}
@media only screen and (min-width: 64.0625em){
.structure-btn input {
    font-size: 0.875rem;
    padding: 10px 25px;
}}
.structure-btn input {
    border-radius: 3px;
    background-color: #ffffff;
    border: solid 1px #005daa;
    color: #005daa;
    font-weight: bold;
    line-height: normal;
}
@media only screen and (min-width: 64.0625em){
    .structure-btn input {
    font-size: 0.875rem;
    padding: 10px 25px;
}
}
