<div class="row">
    <div class="small-12 medium-12 large-12 columns">
        <div class="sketch-wrapper">
            <span style="width: 1000px !important">
                <iframe id="frmKetcher" src="../assets/remote/index.html"></iframe>

            </span>
            <div class="sketch-loader hide">
                <!-- <div class="loader-block">
                    <img src="/search/chemical/resources/images/loader.gif">
                    <i>Finding results</i>
                </div> -->
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div></div>

    <div class="">
        <span class="structure-btn">
            <input type="button" class="btn secondary" id="exact-structure" value="Exact Search">
        </span>
        <span class="structure-btn">
            <input type="button" class="btn secondary" id="sub-structure" value="Substructure Search">
        </span>
    </div>
</div>
