<div class="bgimg-1">
    <img src="assets/bg.jpg" alt="">

    <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">Find The Best Chemical Reaction</h2>
    </div>

    <div class="widget-job-search-form ">
        <form class="form-search filter-listing-form-wrapper">
            <div class="filter-listing-form horizontal ">
                <div class="main-inner clearfix">
                    <div class="content-main-inner">
                        <div class="row search-element">
                            <div class="col-xs-12 col-md-9 search-bar">
                                <div class="form-group form-group-title  ">
                                    <div class="form-group-inner inner has-icon">
                                        <i class="flaticon-magnifiying-glass"></i>
                                        <input type="text" name="filter-title" class="form-control " value=""
                                            id="Q6mjS_title" placeholder="Job title, keywords, or company">
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-submit flex-middle col-xs-12 col-md-3">

                                <button class="btn-submit btn btn-theme btn-inverse" type="submit">
                                    Search </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>


<!-- /////////////////GRID IMAGES -->
<div class="container">
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/54.jpg">
                <img src="assets/54.jpg" alt="Cinque Terre" width="600" height="400">
            </a>
            <div class="desc">Chemical Reactions: Building Blocks of a Dynamic World</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/54.jpg">
                <img src="assets/60.jpg" alt="Forest" width="600" height="400">
            </a>
            <div class="desc">Molecular Mastery: Crafting Tomorrow's Solutions Today.</div>
        </div>
    </div>
    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/54.jpg">
                <img src="assets/images.jpeg" alt="Northern Lights" width="600" height="400">
            </a>
            <div class="desc">Bonding Brilliance: Exploring the Realm of Molecular Architecture</div>
        </div>
    </div>

    <div class="responsive">
        <div class="gallery">
            <a target="_blank" href="assets/54.jpg">
                <img src="assets/images 1.jpeg" alt="Mountains" width="600" height="400">
            </a>
            <div class="desc">Unleashing the Energy Within: Chemistry's Reactionary Force</div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>
<!-- VIDEOS -->
<div class="row video">
    <div class="col-sm-6">
        <div class="widget-video">
            <div data-aos="fade-up" data-aos-duration="3000">
                <video width="100%" controls>
                    <source src="assets/video.webm" type="video/mp4">
                    <source src="assets/video.webm" type="video/ogg">
                    Your browser does not support HTML video.
                </video>
            </div>
        </div>
    </div>
    <div class="col-sm-6" style="height: 600px;">
        <div class="widget-text" style="height: 600px;">
               <p class="para">Our website offers a seamless solution for converting SMILES notation into comprehensive molecular structures
                 and chemical formulas. With just a few clicks, users can input SMILES strings representing chemical compounds 
                 and instantly visualize their molecular structures in 2D or 3D renderings. Our advanced algorithms accurately
                  interpret complex molecular notations, ensuring precision and reliability in the generated structures. Additionally, 
                  our platform provides detailed chemical formulas for each compound, offering valuable insights into its elemental composition.
                   Whether you're a seasoned chemist, a student, or an enthusiast, our website empowers you to explore and understand chemical
                    structures with unparalleled ease and efficiency. Join us today and unlock the potential of molecular visualization and analysis!

               </p>
        </div>
    </div>
</div>

<!-- COUNTDOWN -->

<!-- <section id="section3" class="section-margine section3-background" >
    <img src="assets/back1.jpg" alt="">

    <div class="container count-down">
      <div class="row count_number">
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <figure><i class='fas fa-desktop' style='font-size:48px;color:red'></i></figure>
            <h3><span class="counter">60000</span>+</h3>
            <h4>Biosynthetic Chemicals</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-group fa-2x"></i></figure>
            <h3><span class="counter">300000</span>+</h3>
            <h4>Biosynthetic Reactions</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-coffee fa-2x"></i></figure>
            <h3><span class="counter">240000</span>+</h3>
            <h4>Biosynthetic Enzymes</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-glass fa-2x"></i></figure>
            <h3><span class="counter">9000</span>+</h3>
            <h4>Biosynthetic Strains</h4>
          </div>
        </div>
      </div>
    </div>
  <div class="container count-down">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-desktop fa-2x"></i></figure>
            <h3><span class="counter">60000</span>+</h3>
            <h4>Biosynthetic Chemicals</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-group fa-2x"></i></figure>
            <h3><span class="counter">300000</span>+</h3>
            <h4>Biosynthetic Reactions</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-coffee fa-2x"></i></figure>
            <h3><span class="counter">240000</span>+</h3>
            <h4>Biosynthetic Enzymes</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="section-3-box">
            <figure><i class="fa fa-glass fa-2x"></i></figure>
            <h3><span class="counter">9000</span>+</h3>
            <h4>Biosynthetic Strains</h4>
          </div>
        </div>
      </div>
    </div>
</section> -->



<!-- 
<div class="text-over-img">
    <img src="assets/back1.jpg" alt="Snow" style="width:100%;">
    <div class="centered">Centered</div>
    <div class="container count-down">
    <div class="row count_number">
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <i class='fas fa-desktop' style='font-size:48px;color:red'></i>
            <h3><span class="counter">60000</span>+</h3>
            <h4>Biosynthetic Chemicals</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <figure><i class="fa fa-group fa-2x"></i></figure>
            <h3><span class="counter">300000</span>+</h3>
            <h4>Biosynthetic Reactions</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <figure><i class="fa fa-coffee fa-2x"></i></figure>
            <h3><span class="counter">240000</span>+</h3>
            <h4>Biosynthetic Enzymes</h4>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 column_number">
          <div class="section-3-box">
            <figure><i class="fa fa-glass fa-2x"></i></figure>
            <h3><span class="counter">9000</span>+</h3>
            <h4>Biosynthetic Strains</h4>
          </div>
        </div>
      </div>
    </div>


    </div> -->
<!-- FOOTER -->
    <div class="pt-5 Set_bgcolor text-center py-3">

        <h1>Explore a Molecular Structures Now!</h1>
        <span class="text-center mb-3">WORLD-LEADING BIOSYNTHETIC <br>
            BIG DATA AND DESIGN SERVICE PROVIDER</span>
    
            <button class=" d-flex mx-auto mt-4" id="explore" (click)="goToCategories()">Explore Smiles</button>
        </div>
    
    
    <footer class="footer-distributed">
       
        <div class="div_center">
    
            <div>
                <h3>RXN Finder</h3>
            </div>
            <div class="margin_left">
    
                <p class="footer-links">
                    <a (click)="goToStructure()" class="link-1">Home</a>
    
                    <a >About Us</a>
    
                    <a >Contact Us</a>
    
                    <a >FAQ</a>
    
                </p>
            </div>
            <div class="links cursor_pointer">
                <div class="col-social">
                    <a href="#"><img src="assets/facebook.png" class="social-icon"></a>
                    <a href="#"><img src="assets/instagram.png" class="social-icon"></a>
                    <a href="#"><img src="assets/snapchat.png" class="social-icon"></a>
                    <a href="#"><img src="assets/twitter.png" class="social-icon"></a>
                </div>
            </div>
    
    
            <!-- <i class="fa fa-map-marker">mapppp</i> -->
            <!-- <a (click)="goToFaq()">FAQ</a>
                    </p>
    
                    <p class="footer-company-name" style="color: #706e6e;">© 2024 MPS,  All Right Reserved.</p>-->
        </div>
    
    
        <div class="pb-3 set_footer_div">
            <div class="col mt-3">
                <p class="footer-company-name">© 2024 RXN, All Right Reserved.</p>
            </div>
            <div class="col footer-company-name set_footer1_div">
                <a >Privacy & Policy</a> &nbsp;<a >Terms & Conditions</a>
            </div>
        </div>
    
    </footer>