<div class="bgimg-1">
    <img src="assets/bg.jpg" alt="" class="responsive">

    <div class="elementor-widget-container">
        <h2 class="elementor-heading-title elementor-size-default">Find The Best Chemical Reaction</h2>
    </div>

    <div class="widget-job-search-form ">
        <form class="form-search filter-listing-form-wrapper">
            <div class="filter-listing-form horizontal ">
                <div class="main-inner clearfix">
                    <div class="content-main-inner">
                        <div class="row">
                            <div class="col-xs-12 col-md-9 search-bar">
                                <div class="form-group form-group-title  ">
                                    <div class="form-group-inner inner has-icon">
                                        <i class="flaticon-magnifiying-glass"></i>
                                        <input type="text" name="filter-title" class="form-control " value=""
                                            id="Q6mjS_title" placeholder="Job title, keywords, or company">
                                    </div>
                                </div>
                            </div>
                            <div class="wrapper-submit flex-middle col-xs-12 col-md-3">

                                <button class="btn-submit btn btn-theme btn-inverse" type="submit">
                                    Search </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>